name: Whysh-Client

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'beta'

      - run: flutter --version

      - run: flutter pub get

      - name: Decode google-services.json
        env:
          FIREBASE_CONFIG: ${{ secrets.ANDROID_FIREBASE_CONFIG }}
        run: echo $FIREBASE_CONFIG > android/app/google-services.json

      - name: Decode keystore
        env:
          STORE_FILE: ${{ secrets.ANDROID_KEYSTORE_FILE }}
        run: openssl base64 -d -A -out android/keystore.jks <<< $STORE_FILE

      - name: Build APK
        env:
          KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
        run: flutter build apk --release

      - name: Upload android artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-release.apk
          path: build/app/outputs/apk/release/app-release.apk

