name: Whysh-Client-IOS

on:
  push:
    branches: [ feature/ios-cd ]

jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'beta'

      - run: flutter --version

      - run: flutter pub get

      - name: Decode google info.plist
        env:
          FIREBASE_CONFIG: ${{ secrets.IOS_FIREBASE_CONFIG }}
        run: echo $FIREBASE_CONFIG > ios/Runner/GoogleService-Info.plist

      - name: Build IPA
        run: flutter build ios --release --no-codesign

      - name: 'Build Fastlane'
        env:
          FASTLANE_USER: ${{ secrets.APPLE_USERNAME }}
          FASTLANE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
          FASTLANE_SESSION: ${{ secrets.APPLE_SESSION }}
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: 'beta'
          subdirectory: 'ios'
          skip-tracking: 'true'
