name: Whysh-Client-Web

on:
  push:
    branches: [ web/cd ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'beta'

      - run: flutter config --enable-web
      - run: flutter --version

      - run: flutter pub get

      - name: Create Config File
        env:
          FIREBASE_JSON: ${{ secrets.FIREBASE_JSON }}
        run: echo $FIREBASE_JSON > firebase.json

      - name: Build Web
        run: flutter build web --release

      - name: Upload android artifact
        uses: actions/upload-artifact@v1
        with:
          name: web-build
          path: build/web

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

